<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/default-site.css}">
    <link rel="stylesheet" th:href="@{/css/seat-reserve.css}">
    <link rel="stylesheet" th:href="@{/css/seat-review.css}">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
<section class="topbar">
    <div class="step">
        <h4>Select Seat</h4>
    </div>
    <div class="step">
        <h4>Review &amp; Check out </h4>
    </div>
    <div class="step">
        <h4 class="active">result</h4>
    </div>
    <div class="step user-info">
        <h4>loc</h4>
    </div>
</section>
<section class="sub-movie-info">

</section>

<section class="result-booking">
    <div class="confirm-seat">
        <p>Quá trình thanh toán xảy ra lỗi.</p>
        <p>Xin vui lòng đặt lại vé hoặc liên hệ với chúng tôi tại thông tin liên hệ.</p>
    </div>
</section>

<script th:src="@{/scripts/jquery.min.js}"></script>
<script th:src="@{/scripts/jquery-ui.min.js}"></script>

<script th:src="@{/scripts/jquery.payment.js}"></script>
</body>

</html>
