/* -------------------- */
/* BASIC SETUP */
/* -------------------- */
@font-face {
	font-family: "Lato-Regular";
	src: url("./fonts/lato-regular.woff2") format("woff2");
	/* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "FontAwesome";
	src: url("./fontawesome/webfonts/fa-regular-400.woff2") format("woff2");
	/* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato-Regular', sans-serif;
	text-rendering: optimizeLegibility;
	font-size: 20px;
	font-weight: 300;
	color: #555;
	overflow-x: hidden
}

a {
	text-decoration: none;
	color: #4f4f4f;
}

/*--- Scrollbar---- */

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* --Slick Config-- */
.slick-list.draggable {
	padding-left: 20px;
}

/* -------------------- */
/* REUSEABLE COMPONENT */
/* -------------------- */
section {
	padding: 0 0;
}

.row {
	max-width: 1140px;
	margin: 0 auto;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}

/* -------------------- */
/* NAV COMPONENTS */
/* -------------------- */
Nav {
	height: 35px;
	width: 100%;
	position: fixed;
	z-index: 5;
	border-bottom: 1px solid rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgb(0, 0, 0, 0.3)
}

.nav-bar {
	margin-top: calc(3px/ 2);
	transform: translateY(4px);
}

.logo {
	display: inline;
	float: left;
	width: auto;
	margin-left: 20px;
}

.nav-list {
	list-style: none;
	/* float: left; */
	/* width: auto; */
	position: absolute;
	/* top: 50%; */
	left: 50%;
	transform: translateX(-50%)
}

.nav-list li {
	display: inline;
	margin: 0 10px;
}

.nav-right {
	display: inline;
	/* float: right; */
}

.nav-right .locate {
	float: right;
	margin: 0 10px;
}

.nav-right .account {
	float: right;
	margin: 0 10px;
}

.seat-map {
	padding-top: 50px
}
/*
*
* ==========================================
* 
* ==========================================
*
*/

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
