.payment-title {
	padding: 20px;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
}

.radio {
	margin: 16px 0;
	display: block;
	cursor: pointer;
}

.radio input {
	display: none;
}

.radio input+span {
	line-height: 22px;
	height: 22px;
	padding-left: 22px;
	display: block;
	position: relative;
}

.radio input+span:not (:empty ) {
	padding-left: 30px;
}

.radio input+span:before, .radio input+span:after {
	content: "";
	width: 22px;
	height: 22px;
	display: block;
	border-radius: 50%;
	left: 0;
	top: 0;
	position: absolute;
}

.radio input+span:before {
	background-color: #d1d7e3;
	transition: background-color 0.2s ease, -webkit-transform 0.4s
		cubic-bezier(0.175, 0.885, 0.32, 2);
	transition: background-color 0.2s ease, transform 0.4s
		cubic-bezier(0.175, 0.885, 0.32, 2);
	transition: background-color 0.2s ease, transform 0.4s
		cubic-bezier(0.175, 0.885, 0.32, 2), -webkit-transform 0.4s
		cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input+span:after {
	background: #fff;
	-webkit-transform: scale(0.78);
	transform: scale(0.78);
	transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4),
		-webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked+span:before {
	-webkit-transform: scale(1.04);
	transform: scale(1.04);
	background: #5d9bfb;
}

.radio input:checked+span:after {
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	transition: -webkit-transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.radio:hover input+span:before {
	-webkit-transform: scale(0.92);
	transform: scale(0.92);
}

.radio:hover input+span:after {
	-webkit-transform: scale(0.74);
	transform: scale(0.74);
}

.radio:hover input:checked+span:after {
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
}
/*   
  body {
    min-height: 100vh;
    font-family: Roboto, Arial;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
body .twitter {
	position: fixed;
	display: block;
	right: 24px;
	bottom: 24px;
	opacity: 0.5;
	color: #212533;
	text-decoration: none;
	font-weight: 500;
	transition: all 0.4s ease;
}

body .twitter:hover {
	opacity: 1;
}

body .twitter img {
	display: block;
	height: 36px;
}

.confirm-seat {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.content {
	padding: 0;
	display: none;
	overflow: hidden;
	/* background-color: #f1f1f1; */
}

.card-form {
	border: none;
	display: inline;
	margin: 10px 0;
	font-size: 21px;
	padding: 10px 0;
	border-bottom: solid 1px #bdbebf87;
	font-family: 'Raleway', sans-serif;
}

.card-form:first-child {
	display: block;
	width: 100%;
}

.card-form:nth-child(2) {
	width: 50%;
}

.card-form:nth-child(3) {
	width: 50%;
}

.card-form::placeholder {
	color: #8f8f8f87;
}