/* -------------------- */

/* TOP BAR */

/* -------------------- */
.topbar {
	position: absolute;
	height: 50px;
	width: 70%;
	border-bottom: 1px solid #fff;
	box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.8);
}

.step {
	display: inline;
	margin: 0 50px;
}

.user-info {
	float: right;
}

.topbar h4 {
	display: inline-block;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	line-height: 50px;
}

.topbar .active {
	font-weight: bold;
	color: #f00;
}

#legend {
	font-size: 12px;
}

/* -------------------- */

/* SEAT-AREA */

/* -------------------- */
.seat-area {
	width: 70%;
	height: 100vh;
	float: left;
	position: relative;
}

.result-booking {
	width: 100%;
	height: 100vh;
	position: relative;
}

div.seatCharts-container {
	/* margin: 50px 0 0 40px; */
	width: 700px;
	padding: 20px;
	float: left;
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
}

div.seatCharts-legend {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 50px;
	;
}

/* -------------------- */

/* BOOKING DETAIL */

/* -------------------- */
.booking-details {
	height: 100vh;
	width: 30%;
	position: relative;
	border-left: 1px solid #fff;
	box-shadow: 0 0 15px rgb(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.8);
	float: right;
	text-align: left;
	font-size: 12px;
}

.wrapper-booking-details {
	width: 100%;
	height: 90%;
	padding-top: 35px;
	padding-right: 20px;
	padding-left: 20px;
}

.booking-details h2 {
	margin: 25px 0 20px 0;
	font-size: 17px;
}

.booking-details h3 {
	margin: 5px 5px 0 0;
	font-size: 14px;
	height: 5%;
}

/* Total price */
.total-price {
	height: 15%;
	text-align: center;
}

b.total-price-text {
	color: #44C020;
	font-size: 50px;
}

.badge {
	display: inline-block;
	min-width: 1em;
	/* em unit */
	padding: .3em;
	/* em unit */
	border-radius: 50%;
	font-size: 10px;
	text-align: center;
	background: #1779ba;
	color: #fefefe;
}

.back-red {
	background-color: #3a78c3;
}

.back-yellow {
	background-color: #080;
}

#selected-seats {
	overflow-y: scroll;
	overflow-x: none;
	/* width: 170px; */
	height: 95%;
}

#selected-seats li {
	padding: 5px 0;
}

/* ticket-detail */
.ticket-detail {
	border-top: 1px solid rgba(204, 204, 204, 0.582);
	padding: 15px 0;
	height: 15%;
}

.movie-title {
	margin-bottom: 5px;
	font-size: 14px;
	height: 20px;
	font-weight: bold;
}

.movie-title p {
	display: inline;
	line-height: 20px;
}

.movie-title .rating-type {
	padding: 4px 12px;
	border-radius: 10%;
	font-size: 13px;
	background-color: rgb(67, 158, 42);
	color: #fff;
}

.cinema-detail {
	margin-bottom: 5px;
}

.session-booking p {
	text-transform: uppercase;
	display: inline;
	margin: 0 5px;
}

.session-booking p:first-child {
	margin-left: 0;
}

.wrapper-select-seat {
	border-top: 1px solid rgba(204, 204, 204, 0.582);
	padding: 10px 0;
	height: 70%;
}

/* Check out button */
.checkout-button {
	cursor: pointer;
	background-color: rgb(45, 161, 93);
	border: none;
	color: #fff;
	letter-spacing: 1px;
	width: 100%;
	font-size: 18px;
	margin: 0;
	height: 10%;
	text-transform: uppercase;
}

/* -------------------- */

/* SEAT MAP */

/* -------------------- */

/* -------------------- */

/* CONFIRM SEAT */

/* -------------------- */
.confirm-seat {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
}

.payment-method {
	padding: 20px;
}