<aside th:fragment="admin-sidebar"
	class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="/admin" class="brand-link"> <img
		src="/images/AdminLTELogo.png" alt="CBSCinema Logo"
		class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">CBSAdmin</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="/images/user2-160x160.jpg" class="img-circle elevation-2"
					alt="User Image">
			</div>
			<div class="info">
				<a href="#" class="d-block">Admin</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

				<li class="nav-item"><a href="pages/widgets.html"
					class="nav-link"> <i class="nav-icon fas fa-th"></i>
						<p>
							Book Ticket <span class="right badge badge-danger">New</span>
						</p>
				</a></li>
				<li class="nav-item"><a href="/admin/order"
					class="nav-link"> <i class="nav-icon fas fa-th"></i>
						<p>
							Manage Order <span class="right badge badge-danger"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/actor"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Actor <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/genre"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Genre <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/format"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Movie format <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/movie"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Movie <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/add/session"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Session <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/province"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Province <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/cinema"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Cinema <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/screen"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Screen <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/seat"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Seat <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/user"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage User <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/role"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Role <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/layout"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Manage Layout <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>
				<li class="nav-item has-treeview"><a href="/admin/report"
					class="nav-link"> <i class="nav-icon fas fa-copy"></i>
						<p>
							Reports <i class="fas fa-angle-right right"></i> <span
								class="badge badge-info right"></span>
						</p>
				</a></li>


			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>